#quote-container{
    text-align: center;
    background-color: rgb(0, 100, 0);
    margin-left: 400px;
    margin-right: 400px;
}

#author, #quote{
    color: white;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.mobileShow{
    text-align: center;
    padding: 10%;
    color: yellow;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.608);
    font-size: 40px;
}

.spider-man-main{
    font-family: 'Spiderman-Homecoming', 'Monsterrat','sans-serif';
    color: blue;
    text-shadow: 2px 2px red;
    font-size: 3em;
    padding: 5%;
}

.spider-man{
    font-family: 'Spiderman-Homecoming', 'Monsterrat','sans-serif';
}

.countup {
    text-align: center;
    margin-bottom: 20px;
}

.countup .timeel {
    display: inline-block;
    padding: 10px;
    background: green;
    margin: 0;
    color: white;
    min-width: 2.6rem;
    margin-left: 13px;
    border-radius: 10px 0 0 10px;
}

.countup span[class*="timeRef"] {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    background: #df1212;
    color: #D4AC0D;
}

.live-title {
    color: blue;
    text-align: center;
    padding-top: 10%;
}

/* Header and Navagation */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: darkgreen; 
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: darkred; 
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background-color: white; 
    color: rgb(100, 4, 4);
    text-decoration: underline;
}

.logo {
    width: 200px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#christmas-count-down{
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
    font-family: 'Christmas Light Outdoor', 'Monsterrat','sans-serif';
    color: white;
    background-color: green;
}

#NYE{
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
    font-family: 'Monsterrat','sans-serif';
    color: white;
    background-color:#2196F3;
}

.NYE-title{
    color: gold;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.NYE-msg{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.count-down-title {
    color: darkred;
    font-family: 'PWChristmasfont', 'Monsterrat', 'sans-serif';
    font-size: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

/* footer */
footer {
    background-color: darkred; 
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: white;
    color: green; 
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: white; 
    text-decoration: none;
}

footer a:hover {
    color: rgb(100, 4, 4);
}

footer .social img {
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* main section */

.home-title {
    color: darkred; 
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.Christmas {
    font-family: 'Christmas Squad - Personal Use', 'Montserrat', sans-serif;
    font-size: 80px;
}

#hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #242325;
}

body {
    background-color: white; 
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.count-down-title{
    text-align: center;
}

.dark-mode{
    background-color: #242325;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

h4 {
    padding-left: 10%;
    padding-right: 10%;
    color: black; 
}

main section img {
    box-sizing: border-box;
}

.logo-img-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1; */
}

.snow-background{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
}

/* For devices smaller than 400px: */
/* @media only screen and (max-device-width: 400px){
    .snow-background-small{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        top: -10%;
        bottom: 0;
        right: 0;
        left: -80%;
        position: fixed;
        z-index: -1;
    }
}    */
  
  /* For devices 400px and larger: */
  /* @media only screen and (min-device-width: 400px) {
    .snow-background{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: -1;
    }    
  } */

.author {
    font-style: italic;
    text-align: center;
}

.quote {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

/* Video Journal Page */
#videos {
    text-align: center;
    border: 3px
}

.video-journal {
    text-align: center;
    border: 3px
}

#video-journal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5%;
}

.video-journal-title {
    color: darkred; 
    font-size: 100px;
}

.year-links {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 50px;
    gap: 30px;
}

#year-link {
    /* color: #D4AC0D; Normal */
    color: red;
    font-size: 25px;
}

#year-link:hover {
    color: darkred;
}

#top-video {
    color: red;
}

#top-video:hover {
    color: darkred;
}

.year {
    color: darkred;
    font-size: 200px;
}

#star_wars{
    font-family:'Star Jedi Hollow' ;
    font-size: 50px;
}

h2 {
    color: darkgreen; 
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    color: black; 
}

.vlog {
    color: red;
}

.video-journal-intro {
    color: darkgreen; 
    padding-top: 10%;
}

.fat-cats {
    color: #594AE3;
    font-size: 50px;
}

/* videos page */

.video-main-title{
    color: darkred; 
    font-size: 100px;
}

.video-section{
    color: darkred;
    font-size: 80px;
    padding-top: 10%;
}
.video-title{
    color: darkgreen; 
    padding-top: 8%;
    font-size: 50px;
}

.video-links{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 50px;
    gap: 30px;
}

/* Piano Video Page */
.piano-title {
    color: darkgreen;
    font-size: 100px;
}

.peanuts {
    color: darkred;
    font-size: 50px;
    font-family: 'peanuts', 'Montserrat', 'sans-serif';
}

.grim-grinning-ghosts {
    font-size: 100px;
    color: darkred;
    font-family:'Ravenscroft', 'Monsterrat', 'sans-serif';
}

.hocus{
    font-size: 60px;
    color: darkred;
    font-family: 'waltograph','Monsterrat', 'sans-serif';
    padding-left: 30%;
    padding-right: 30%;
}

.truman {
    color: darkred;
    font-size: 80px;
    font-family: 'Trumania EEN', 'Montserrat', 'sans-serif';
}

.music {
    color: #D4AC0D;
    font-size: 200px;
}

#piano-main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5%;
}

.piano-videos {
    text-align: center;
    border: 3px
}

.batman1966 {
    color: darkred;
    font-size: 80px;
    font-family: 'POW_', 'Montserrat', 'sans-serif';
}

.skyfall {
    color: darkred;
    font-size: 100px;
    font-family: '007 Goldeneye', 'Montserrat', 'sans-serif';
}

.shadows-lie{
    color: darkred;
    font-size: 70px;
    font-family: 'Ringbearer', 'Montserrat', 'sans-serif';
}

.gollum{
    color: darkred;
    font-size: 60px;
    font-family: 'Ringbearer', 'Montserrat', 'sans-serif';
}

.batmandogcars {
    color: darkred;
    font-size: 50px;
}

/* About Me Page */
#about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 5%;
    padding-top: 5%;
}

.question {
    color: darkgreen; 
    font-size: 50px;
}

.answer {
    color: black; 
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.about-me-title {
    color: darkred; 
    font-size: 100px;
}

/* Overlay Home Page Image */
.content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 0, 0, 0.683); 
}

.content:hover .overlay {
    opacity: 1;
}

.hero-overlay-text {
    color: darkgreen; 
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* contact me */
.contactinfo {
    color: #D4AC0D;
}

.email {
    color: #D4AC0D;
}

.email:hover {
    color: #594AE3;
}

.text {
    color: #D4AC0D;
}

.text:hover {
    color: #594AE3;
}

.call {
    color: #D4AC0D;
}

.call:hover {
    color: #594AE3;
}

#contact-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* Favorite Music */
#music-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5%;
}

.music-link {
    color: #D4AC0D
}

.music-link:hover {
    color: rgb(100, 4, 4);

}

/* coming-soon */
#coming-soon {
    color: #594AE3
}

/* Mission-audio-files */

#mission-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
}

.mission-title-main {
    color: darkgreen;
    font-size: 90px;
}

#Mission-audio-files {
    color: #594AE3;
    /* Normal */
}

.mission-area {
    color: #594AE3;
    /* Normal */
    color: darkred;
}

/* Paintings */
.paintings-title {
    color: darkred;
}

.hogwarts {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.duck {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perry {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.t-rex {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Sauraun {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perry-potter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.elephant{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.death-star{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Recipies */
.recipies-title {
    color: darkred;
    font-size: 100px;
}

.recipie-links {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 50px;
    gap: 30px;
}

#recipie-link {
    color: red;
    font-size: 25px;
}

#recipie-link:hover {
    color: darkred;
}

#top-rec {
    color: red;
    font-size: 25px;
}

#top-rec:hover {
    color: darkred;
}

.celestial-cookie-button {
    background-color: gray;
    cursor: pointer;
    color: #D4AC0D;
    font-size: large;
    font-family: 'Montserrat', 'sans-serif';
}

.ingred-title {
    color: darkred;
    font-size: 30px;
    padding-right: 70%;
}

.ingredients {
    color: black;
    text-align: left;
}

.cinnamon-roll {
    color: darkgreen;
    text-align: center;
    font-size: 50px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.cinnamon {
    color: darkgreen;
    text-align: left;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    padding-top: 2%;
}

.directions {
    text-align: left;
    color: black;
}

.directions-title {
    text-align: left;
    color: darkgoldenrod;
    padding-left: 10%;
    padding-top: 5%;
}

.dropdown-content a {
    color: white;
}

#videoButton {
    color: darkred;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#fb0707e6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {
    background-color:#f6efef;
    color:rgb(30, 100, 4);
  }

  .share-button {
    background-color:  rgb(0, 100, 0); /* Pumpkin orange background color */
    color: #000; /* Black text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.code-link{
    color: green;
}

/* clock */

.clock-container {
    background-color: #fb0707e6;
    color: #F0E68C;
    border: 2px solid #F0E68C;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px #F0E68C;
}

.clock-container span {
    color: #F0E68C;
}

.clock-container .time {
    font-size: 40px;
    font-weight: bold;
}

.clock-container .date {
    font-size: 20px;
    font-style: italic;
}
