#clock {
    margin-top: 20px; /* Adjust the value as needed */
}

#clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjust height as needed */
    width: 450px; /* Adjust width as needed */
    border-radius: 50%; /* Adjust radius as needed */
    background-color: #594AE3;
    box-shadow: #000000 5px 5px 10px;
    color: #D4AC0D;
    font-size: 2.5rem; /* Adjust font size as needed */
    text-shadow: 2px 2px rgba(0, 0, 0, 0.608);
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

#time {
    font-size: 5rem; /* Adjust font size as needed */
    color: #D4AC0D;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.608);
}

#date {
    font-size: 2rem; /* Adjust font size as needed */
    color: #D4AC0D;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.608);
    margin-top: 10px; /* Adjust spacing as needed */
}
