.cursor {
    animation: blink 0.8s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#quote-container {
    text-align: center;
    background-color: #594AE3;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 20px;
    box-shadow: #000000 5px 5px 10px;
}

#GC {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.mobileShow {
    text-align: center;
    padding: 10%;
    color: yellow;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.608);
    font-size: 25px;
    display: none;
    /* Hide the message by default */
}

@media (max-width: 600px) {
    .mobileShow {
        display: block;
        /* Show the message only on mobile devices */
    }
}

.spider-man-main {
    font-family: 'Spiderman-Homecoming', 'Monsterrat', 'sans-serif';
    color: blue;
    text-shadow: 2px 2px red;
    font-size: 3em;
    padding: 10%;
}

.spider-man {
    font-family: 'Spiderman-Homecoming', 'Monsterrat', 'sans-serif';
}

/* NYE */

#NYE {
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
    font-family: 'Monsterrat', 'sans-serif';
    color: white;
    background-color: #2196F3;
}

.NYE-title {
    color: gold;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.NYE-msg {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

/* Header and Navagation */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(13, 19, 30, 0.7);
}

/* Add an active class to highlight the current page */
.active {
    background-color: #594AE3;
    color: white;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: #D4AC0D;
    padding: 15px;
    background-color: inherit;
    font-family: inherit;
    /* margin: 0; */
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242325;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #D4AC0D;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #594AE3;
    color: rgb(100, 4, 4);
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
    padding-right: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #D4AC0D;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background-color: #594AE3;
    color: rgb(100, 4, 4);
    text-decoration: underline;
}

.logo {
    width: 200px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* footer */
footer {
    background-color: #594AE3;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: white;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: #D4AC0D;
    text-decoration: none;
}

footer a:hover {
    color: white
}

footer .social img {
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer .social img:hover {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* main page layout */

.home-title {
    color: #594AE3;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

#hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    box-shadow: #000000 10px 10px 10px;
}

#hero-msg h1,
#hero-msg h4,
.code-link {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #242325;
}

body {
    background-color: #242325;
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h4 {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

main section img {
    box-sizing: border-box;
}

.logo-img-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1; */
}

.background {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
}

.author {
    font-style: italic;
    text-align: center;
}

.quote {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

h2 {
    color: #594AE3;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

/* Overlay Home Page Image */
.content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #594ae3cb;
}

.content:hover .overlay {
    opacity: 1;
}

.hero-overlay-text {
    color: #D4AC0D;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {

    /* Adjust the header layout for mobile */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo {
        width: 120px;
        /* Adjust logo size for mobile */
        margin-bottom: 10px;
    }

    #quote-container {
        margin: 20px 0;
        text-align: center;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px 20px;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: white;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        padding: 10px;
    }

    .mobile-menu a {
        color: white;
        text-decoration: none;
        padding: 10px 0;
    }

    /* Show mobile menu when menu icon is clicked */
    .mobile-nav.active .mobile-menu {
        display: flex;
    }

    /* Adjust hero image */
    #hero-img {
        width: 100%;
        max-width: 300px;
        /* Adjust image width */
        margin: 20px 0;
    }

    /* Adjust hero overlay text */
    .hero-overlay-text {
        font-size: 14px;
        /* Adjust font size */
    }

    /* Adjust other content */
    h4,
    p {
        padding: 0 10px;
        font-size: 16px;
    }

    .home-title {
        font-size: 50px;
    }

    .mobile-nav {
        position: relative;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        /* Transparent background */
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        /* Make sure the menu is on top */
    }

    .mobile-menu.active {
        display: flex;
    }

    .mobile-menu a {
        color: white;
        text-decoration: none;
        padding: 15px 0;
    }

    /* Adjust the menu icon to close the overlay */
    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 30px;
        /* Set a width for the icon */
        height: 20px;
        /* Set a height for the icon */
    }

    .bar {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: 0.3s;
    }

    /* Adjust the icon appearance when active */
    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

.mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    /* Set a width for the icon */
    height: 20px;
    /* Set a height for the icon */
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

/* Adjust the icon appearance when active */
.menu-icon.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: calc(100% - 50px);
    /* Adjust the value as needed */
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Align content to the top */
    z-index: 9999;
    overflow-y: auto;
    padding-top: 50px;
    /* Add padding for the black overlay */
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
}

/* Style the close button (X) */
.close-button {
    position: center;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #2196F3;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #D4AC0D;
    /* Change color on hover */
}

/* Hide the original navigation on mobile devices */
@media (max-width: 600px) {
    nav {
        display: none;
    }

    #videoButton {
        color: white;
    }

    .dropdown-content {
        background-color: rgba(0, 0, 0, 0.9);
        margin-left: 50px;
    }
}

/* Hide the hamburger button on desktop */
@media (min-width: 601px) {
    .menu-icon {
        display: none;
    }
}

.code-link {
    margin-left: 40%;
    color: #D4AC0D;
    text-decoration: none;
}

.code-link:hover {
    color: #594AE3;
    text-decoration: underline;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.share-button {
    background-color: #D4AC0D;
    /* Pumpkin orange background color */
    color: #000;
    /* Black text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}